<%= form_with url: terminal_entry_path, method: :post do |form| %>
  <div class="form-group">
    <%= form.label :ticket_number, "Номер билета" %>
    <%= form.text_field :ticket_number, class: 'form-control' %>
  </div>

  <%= form.submit "Вход", class: 'btn btn-primary' %>
<% end %>

<%= form_with url: terminal_exit_path, method: :post do |form| %>
  <div class="form-group">
    <%= form.label :ticket_number, "Номер билета" %>
    <%= form.text_field :ticket_number, class: 'form-control' %>
  </div>

  <%= form.submit "Выход", class: 'btn btn-primary' %>
<% end %>

<% if flash[:answer] %>
  <div>
    <p><%= flash[:answer] %></p>
  </div>
<% end %>